@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main-container{
  font-family: 'Montserrat', sans-serif;
}
.profile-image{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.imageCenter{
  margin: 0 auto;
  height: 110%;
  width: auto;
}

.like-button{
  color:white;
  background-image: url(./like.png);
  background-size: 100%;
  padding: 15px;
  border: none;
  background-color:white;
  outline: none;
}
.dislike-button{
  background-color: none;
  background-image: url(./finger.png);
  background-size: 100%;
  padding: 15px;
  border: none;
  background-color:white;
  outline: none;
}
.header {
   /* min-width: 30%; */
   max-width: 90%;
}
.cards{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.votes{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 40%;
  justify-content: space-between;
  
}
.title{
  padding: 10px 20px;
  border: lightgray .5px solid;
  border-radius: 10%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}
.titel{
  margin: 0 auto;
  text-align: center;
  border-bottom: lightgray .5px solid;
  width: 40%;
  margin-bottom: 30px;
  margin-top: 25px;
  padding-bottom: 10px;
  
}
.search{
  width: 20%;
  display: flex;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border: lightgray .5px solid;
}
