.profile-image{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.imageCenter{
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: -55%; 
  height: 100%;
  width: auto;
}

.like-button{
  color:white;
  background-image: url(./heart.png);
  background-size: 100%;
  padding: 15px;
  border: none;
 
  

}
.dislike-button{
  background-color: none;
  background-image: url(./review.png);
  background-size: 100%;
  padding: 15px;
  border: none;
  background-color: none;
  

}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.votes{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title{
  padding: 10px;
  border: lightgray .5px solid;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}