.profile-image{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.imageCenter{
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: -55%; 
  height: 100%;
  width: auto;
}

.like-button{
  color:white;
  background-image: url(./like.png);
  background-size: 100%;
  padding: 15px;
  border: none;
  background-color:white;
  outline: none;
 
  

}
.dislike-button{
  background-color: none;
  background-image: url(./finger.png);
  background-size: 100%;
  padding: 15px;
  border: none;
  background-color:white;
  outline: none;
  

}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.header {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  align-items: center;
  align-content: center;
  flex-basis: auto;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;

}
.votes{
  display: flex;
  width: 40%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.title{
  padding: 10px 20px;
  border: lightgray .5px solid;
  border-radius: 10%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Individual{
  align-items: center;
}